@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main-container {
  font-family: "Montserrat", sans-serif;
  width: 1920px;
}

.Hero-section {
  background-image: url("./images/Heroimage.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
}

.black-image-effect {
  background-image: url("./images/effect.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
}

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  gap: 178px;
}

.top-options ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.top-options ul li {
  color: #fef4e6;
  list-style-type: none;
  cursor: pointer;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.12px;
}

.top-options ul li button {
  width: 189px;
  height: 52px;
  background: #dc3635;
  border: none;
  color: #fef4e6;
}

.top-logo p::first-letter {
  color: #dc3635;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.2px;
}

.top-logo {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}

.hero-subject {
  width: 840px;
  margin-left: 252px;
  margin-top: 120px;
  margin-bottom: 120px;
  padding-bottom: 302px;
}

.hero-heading {
  color: #dc3635;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 37px;
}

.hero-subheading {
  color: #fef4e6;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.68px;
  margin-bottom: 35px;
}

.hero-description {
  color: #fef4e6;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: justify;
  margin-bottom: 30px;
}

.herobtn-1 {
  width: 189px;
  height: 52px;
  background: #dc3635;
  border: none;
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.42px;
  margin-right: 42px;
}

.herobtn-2 {
  width: 189px;
  height: 52px;
  background: #fef4e6;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.42px;
  color: #000;
  border: none;
}

.aboutme-subject {
  width: 700px;
}

.aboutme-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-top: 64px;
  margin-bottom: 94.37px;
}

.aboutme-title {
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  margin-bottom: 31px;
}

.aboutme-description {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 32.88px */
  letter-spacing: 0.96px;
}

.aboutme-image {
  width: 700px;
  height: 342px;
}

.aboutme-image img {
  width: 100%;
}

.services-section {
  margin-top: 18.35px;
}

.services-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.service-maintitle {
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #000;
  margin-bottom: 31px;
}

.services-main-description {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 32.88px */
  letter-spacing: 0.96px;
  color: #000;
  width: 1164px;
  margin-bottom: 69px;
}

.all-services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 143px;
}

.service {
  width: 327px;
  height: 350px;
  border-radius: 10px;
  background: #ffecec;
  padding: 52px 17px 32px 17px;
}

.service-img {
  width: 96.135px;
  height: 96.129px;
}

.service-name {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
  margin: 29.87px 0px;
}

.service-description {
  width: 293px;
  height: 85px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #000;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects-main-title {
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #000;
  margin-bottom: 31px;
}

.projects-main-description {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 32.88px */
  letter-spacing: 0.96px;
  color: #000;
  width: 1164px;
  margin-bottom: 69px;
}

.projects-caegory-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 66px;
}

.projects-caegory-buttons button {
  border: none;
  background: #ffecec;
  color: #000000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 137%;
  /* 32.88px */
  letter-spacing: 0.96px;
}

.all-projects {
  margin-bottom: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.project {
  width: 439px;
  height: 550px;
  background: #ffecec;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.projectimg-1 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.projectimg-2 {
  position: absolute;
  top: 0;
  left: 0;
}

.testimonials-section {
  background: #dc3635;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  gap: 31.75px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-data {
  width: 290px;
  height: 290px;
  border-radius: 18.004px;
  border: 0.9px solid #000;
  margin-top: -80px;
  margin-bottom: 22px;
}

.testimonials-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonials-main-title {
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  color: #fef4e6;
  margin-bottom: 31px;
  margin-top: 51px;
}

.testimonials-main-description {
  width: 1164px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 32.88px */
  letter-spacing: 0.96px;
  color: #fef4e6;
  margin-bottom: 50px;
}

.testimonial-image {
  stroke-width: 2px;
  stroke: #fff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

.testimonial-review {
  font-size: 18.004px;
  font-style: normal;
  font-weight: 400;
  line-height: 137%;
  /* 24.666px */
  letter-spacing: 0.72px;
  color: #fef4e6;
  width: 249.359px;
  height: 109.826px;
  margin: 109.85px 0px 21.61px 24.31px;
}

.testimonial-ratings {
  margin-left: 24.31px;
}

.slider-image {
  padding-bottom: 149px;
  display: flex;
  justify-content: center;
}

.next {
  width: 24px;
  height: 24px;
  background-image: url("/images/eclipse.png");
  text-align: center;
  cursor: pointer;
}

.prev {
  width: 24px;
  height: 24px;
  background-image: url("/images/eclipse.png");
  text-align: center;
  cursor: pointer;
}
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  gap: 49px;
}
.input-field input {
  width: 630px;
  height: 75px;
  border-radius: 10px;
  background: #fff;
  border: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #000;
  padding-left: 20px;
}
.input-field input:focus {
  outline: none;
}
.contact-btn button {
  width: 274px;
  height: 75px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background: #493c3b;
}
.footer-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 66px 0px;
  background: #ffecec;
}
.footer-logo p {
  color: #493c3b;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
.footer-logo p::first-letter {
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #dc3635;
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.12px;
  color: #000;
  margin: 52px 0px;
}
.footer-social {
    display: flex;
    justify-content: center;
    gap: 80px;
}
.end {
color: #000;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.72px;
text-align: center;
padding: 30px 0px;
}